user={{postfix_user|quote}}
password={{postfix_password|quote}}
dbname={{postfix_db|quote}}
query=SELECT uid FROM (SELECT uids.uid as uid, enabled, CASE WHEN (email_lookup.user = '') THEN 2 ELSE 1 END as pri FROM email_lookup JOIN uids USING(uid) JOIN gids USING(site_id) JOIN domain_lookup USING(domain) WHERE ( email_lookup."user" = '%u' AND email_lookup.domain = '%d' OR email_lookup."user" = '' AND email_lookup.domain = '%d' ) AND email_lookup.type = 'v' ORDER BY PRI LIMIT 1) AS ut WHERE enabled = 1::bit
