[submodule "roles/php/composer"]
	path = roles/php/composer
	url = https://github.com/geerlingguy/ansible-role-composer.git
[submodule "roles/php/ioncube-loader"]
	path = roles/php/ioncube-loader
	url = https://github.com/apisnetworks/ansible-role-ioncube-loader.git
[submodule "roles/filesystem/swap"]
	path = roles/filesystem/swap
	url = https://github.com/kamaln7/ansible-swapfile.git
[submodule "roles/packages/priorities"]
	path = roles/packages/priorities
	url = https://github.com/davidmnoriega/ansible-role-yum-plugin-priorities.git
[submodule "roles/clamav/support"]
	path = roles/clamav/support
	url = https://github.com/jtyr/ansible-clamav.git
[submodule "roles/clamav/config_encoder_filters"]
	path = roles/clamav/config_encoder_filters
	url = https://github.com/jtyr/ansible-config_encoder_filters.git
[submodule "roles/software/pyenv-support"]
	path = roles/software/pyenv-support
	url = https://github.com/msaladna/ansible-pyenv.git
[submodule "roles/software/rbenv-support"]
	path = roles/software/rbenv-support
	url = https://github.com/msaladna/ansible-rbenv-role.git
