#!/bin/bash
#
# Created by configure
PGSQL=/usr
MATCHES=(/usr/pgsql-*)
if [[ ${#MATCHES[@]} -gt 0 ]] ; then
	CNT=${#MATCHES[@]}
	PGSQL=${MATCHES[$CNT-1]}
fi
CFLAGS='-O2 -finline-functions' \
env CFLAGS='-O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector -m64' \
'./configure' \
'--exec-prefix=/usr' \
'--bindir=/usr/bin' \
'--sbindir=/usr/sbin' \
'--sysconfdir=/etc' \
'--datadir=/usr/share' \
'--includedir=/usr/include' \
'--libdir=/usr/lib64' \
'--with-libdir=lib64' \
'--libexecdir=/usr/libexec' \
'--localstatedir=/var' \
'--sharedstatedir=/usr/com' \
'--mandir=/usr/share/man' \
'--infodir=/usr/share/info' \
'--prefix=/usr' \
'--with-pgsql='$PGSQL \
'--with-apxs2=/usr/bin/apxs' \
'--enable-shmop' \
'--enable-calendar' \
'--with-exec-dir=/usr/bin' \
'--with-openssl' \
'--enable-mbstring' \
'--with-mhash=/usr' \
'--enable-ctype' \
'--with-pear' \
'--with-pspell' \
'--with-bz2' \
'--with-db4=/usr' \
'--with-curl' \
'--with-mysqli' \
'--enable-soap' \
'--with-jpeg-dir=/usr' \
'--with-gdbm' \
'--with-gmp' \
'--with-gettext' \
'--enable-exif' 
'--with-xmlrpc' \
'--without-oci8' \
'--with-imap' \
'--with-imap-ssl' \
'--with-kerberos' \
'--with-ldap' \
'--with-zlib' \
'--enable-sysvsem' \
'--enable-sysvshm' \
'--enable-sysvmsg' \
'--with-gd' \
'--with-png-dir=/usr' \
'--with-freetype-dir=/usr' \
'--enable-ftp' \
'--enable-sockets' \
'--with-layout=GNU' \
'--enable-bcmath' \
'--with-xsl' \
'--with-pdo-mysql' \
'--with-pdo-pgsql='$PGSQL \
'--with-tidy=/usr' \
'--enable-zip' \
'--with-config-file-scan-dir='$SCANDIR \
'--enable-intl' \
'--enable-maintainer-zts' \
'--enable-mysqlnd' \
'--enable-inline-optimization' \
'--enable-fpm' \
'--with-fpm-systemd' \
'--enable-fd-setsize=2048' \
"$@"