alias spamc="spamc -u $LOGNAME@$HOSTNAME"
alias psql="psql -h 127.0.0.1"
alias df="df 2> /dev/null"
alias quota="quota 2> /dev/null"
alias ln="ln -r"

HOSTNAME=`/bin/hostname 2>/dev/null`
MAILTO=$USER@$HOSTNAME
PERL5LIB=/usr/local/lib/perl5/site_perl
RUBY_CONFIG_OPTS="--prefix=/usr/local/"
JAVA_OPTS="-Xmx256M"
ANT_OPTS=$JAVA_OPTS
GS_DEVICE="display"
export HOSTNAME
[[ -f /proc/self/oom_score_adj ]] && echo 600 > /proc/self/oom_score_adj