[Unit]
Description=Resume apnscp update
After=multi-user.target
ConditionPathExists={{ apnscp_bootstrapper_resume_script }}

[Service]
Type=oneshot
# Add sudo to populate $HOME, bash for $SHELL
ExecStart=/bin/sudo -u root /bin/bash -c "{{ apnscp_bootstrapper_resume_script | quote }}"
ExecStartPost=/bin/systemctl disable bootstrapper-resume

[Install]
WantedBy=multi-user.target
