[Unit]
Description=Resume apnscp update
After=multi-user.target
ConditionPathExists={{ apnscp_bootstrapper_resume_script }}

[Service]
Environment=HOME=/root
Type=oneshot
ExecStart="{{ apnscp_bootstrapper_resume_script }}"
ExecStartPost=/bin/systemctl disable bootstrapper-resume

[Install]
WantedBy=multi-user.target
