*                soft    nofile          2048
# Absolute hard limit when cgroup,proclimit disabled. 
# Prevents runaway forkbombs 
*                hard    nproc           125
*                soft    fsize           4194304
*                soft    priority        19
*                soft    maxlogins       20
*                hard    maxlogins               50
*                soft    as              8388608
