[Unit]
Description=Bandwidth accounting and reconcilement
After=local-fs.target

[Service]
Type=oneshot
ExecStart="apnscp_php {{ apnscp_root }}/bin/scripts/bwcron.php"
ExecReload=/bin/false
ExecStop=/bin/false

[Install]
WantedBy=multi-user.target
