[Unit]
Description=Create cgroup structure
After=local-fs.target
Before=httpd.target shutdown.target

[Service]
Type=oneshot
ExecStart=/etc/systemd/user/cgroupmake.init start
ExecReload=/etc/systemd/user/cgroupmake.init start
ExecStop=/bin/true

[Install]
WantedBy=multi-user.target
