[Unit]
Description=Virtual Cron State Cleaner
After=fsmount.target
Before=virtualcron.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/bin/rm -f /home/virtual/site*/shadow/var/run/cron.reboot"
ExecStop=/bin/true
RemainAfterExit=yes
# We want systemd to give httpd some time to finish gracefully, but still want
# it to kill httpd after TimeoutStopSec if something went wrong during the
# graceful stop. Normally, Systemd sends SIGTERM signal right after the
# ExecStop, which would kill httpd. We are sending useless SIGCONT here to give
# httpd time to finish.
#KillSignal=SIGCONT
#PrivateTmp=true

[Install]
WantedBy=multi-user.target virtualcron.service
