[Unit]
Description=Virtual Cron
After=fsmount.target mysql.service postgresql.service

[Service]
Type=simple
ExecStart=/etc/systemd/user/virtualcron.init start
ExecReload=/etc/systemd/user/virtualcron.init restart
ExecStop=/etc/systemd/user/virtualcron.init stop
RemainAfterExit=yes
#KillSignal=SIGCONT
#PrivateTmp=true

[Install]
WantedBy=multi-user.target
