# Global maildrop rules go here
# See http://www.courier-mta.org/maildrop/maildropfilter.html for syntax

if ($SIZE < 524288)
{
    exception {
        xfilter "/usr/bin/spamc -u $LOGNAME"
    }
}

DELETE_THRESHOLD=7.0
if (/^X-Spam-Flag: Yes/)
{
    /X-Spam-Score: ([-\.\d]+)/
    if ($MATCH1 >= $DELETE_THRESHOLD)
    {
        to /dev/null
    }
    else
    {
        to Mail/.Spam/
    }
}
