###############################################################################################
# ,------.   ,-----. ,--.  ,--.,--.,--------.    ,--------. ,-----. ,--. ,--. ,-----.,--.  ,--.
# |  .-.  \ '  .-.  '|  ,'.|  ||  |'--.  .--'    '--.  .--''  .-.  '|  | |  |'  .--./|  '--'  |
# |  |  \  :|  | |  ||  |' '  |`-'    |  |          |  |   |  | |  ||  | |  ||  |    |  .--.  |
# |  '--'  /'  '-'  '|  | `   |       |  |          |  |   '  '-'  ''  '-'  ''  '--'\|  |  |  |
# `-------'  `-----' `--'  `--'       `--'          `--'    `-----'  `-----'  `-----'`--'  `--'
###############################################################################################
####             ALL CHANGES SHOULD BE MADE TO /etc/dovecot/conf.d/local.conf              ####
###############################################################################################

protocols = imap pop3
verbose_proctitle = yes

disable_plaintext_auth = no
# Pull for now, random userdb problems still noted
auth_cache_size = 512k
auth_cache_negative_ttl = 0
auth_username_format = "%Lu"
auth_mechanisms = plain login
auth_worker_max_count = {{ [ansible_processor_vcpus | int, 4] | min}}
valid_chroot_dirs = /home
default_login_user = dovecot
ssl_verify_client_cert = no
ssl = {{ dovecot_strict_ssl | ternary("required", "yes") }}

service director {
  unix_listener login/director {
  }
  fifo_listener login/proxy-notify {
  }
  unix_listener director-userdb {
  }
  inet_listener {
  }
}

passdb {
  driver = pam
  # Session is necessary to restore root after verification
  # Use imap/pop3/smtp granular authentication handling
  args = cache_key=%u%r|%s session=yes max_requests={{ apnscp_debug | bool | ternary(512, 1) }} %s
}

userdb {
  driver = apnscp
  args = blocking=yes
}
service managesieve {
}

service imap-login {
}
service pop3-login {
}

service imap-login {
  inet_listener imap {
  }
  inet_listener imaps {
  }
  service_count = {{ dovecot_secure_mode | bool | ternary("1", "0") }}
}

mail_plugins = {{ dovecot_mail_plugins }}

protocol imap {
  mail_max_userip_connections = 25
  mail_plugins = {{ dovecot_imap_plugins }}
  imap_logout_format = bytes=%i/%o
}

service pop3-login {
  inet_listener pop3 {
  }

  inet_listener pop3s {
  }
  service_count = {{ dovecot_secure_mode | bool | ternary("1", "0") }}
}

protocol pop3 {
  pop3_fast_size_lookups = yes
  pop3_uidl_format = %f
  pop3_logout_format = top=%t/%p, retr=%r/%b, del=%d/%m, size=%s, bytes=%i/%o
}

mbox_write_locks = fcntl

ssl_cert = </etc/pki/tls/certs/server.pem
ssl_key = </etc/pki/tls/certs/server.pem
ssl_cipher_list = RSA:!EXP:!NULL:!RC4:+HIGH:+MEDIUM:-LOW

namespace {
  type = private
  separator = .
  prefix = {{ dovecot_imap_root }}
  inbox = yes
  hidden = no
  list = yes
  subscriptions = yes

  mailbox Drafts {
    special_use = \Drafts
    auto = subscribe
  }
  mailbox Spam {
    special_use = \Junk
    auto = subscribe
  }
  mailbox Trash {
    special_use = \Trash
    auto = subscribe
  }
  mailbox Sent {
    special_use = \Sent
    auto = subscribe
  }
}

mail_location = maildir:%h/Mail
mail_fsync =  optimized
lock_method = fcntl
maildir_copy_with_hardlinks = yes
#maildir_very_dirty_syncs = yes

namespace {
  type = shared
  separator = .
  prefix = shared.%%u.
  location = maildir:%%h/Mail:INDEX=~/Mail/shared.%%u
  subscriptions = no
  list = children
}

service auth {
  unix_listener auth-userdb {
  }
  unix_listener {{ postfix_auth_socket }} {
    mode = 0660
    user = {{ postfix_sysuser }}
    group = {{ postfix_sysgroup }}
  }
  user = root
}
service auth-worker {
  user = root
}
service dict {
  unix_listener dict {
  }
}

plugin {
  acl=vfile
}
plugin {
  fts = lucene
  fts_lucene = whitespace_chars=@.
}

plugin {
  quota2 = fs:Account:group
  quota = fs:User:user
}

plugin {
  sieve_plugins = sieve_imapsieve sieve_extprograms

  imapsieve_mailbox1_name = {{ dovecot_learn_spam_folder }}
  imapsieve_mailbox1_causes = COPY
  imapsieve_mailbox1_before = file:{{ dovecot_sieve_bindir }}/report-spam.sieve

  imapsieve_mailbox2_name = *
  imapsieve_mailbox2_from = {{ dovecot_learn_ham_folder }}
  imapsieve_mailbox2_causes = COPY
  imapsieve_mailbox2_before = file:{{ dovecot_sieve_bindir }}/report-ham.sieve

  sieve_pipe_bin_dir = {{ dovecot_sieve_bindir }}

  sieve_global_extensions = +vnd.dovecot.pipe +vnd.dovecot.environment
}

{% if dovecot_enable_stats %}

service stats {
  fifo_listener {{ dovecot_shared_root }}/stats-mail {
    user = dovecot
    mode = 0666
  }
}

plugin {
  # how often to session statistics (must be set)
  stats_refresh = 30 secs
  # track per-IMAP command statistics (optional)
  stats_track_cmds = yes
}
{% endif %}
