{% if spamfilter == 'rspamd' %}
exec /usr/bin/rspamc -h "{{ rspamd_controller_socket }}" learn_{{ type }}
{% elif (spamd_allow_tell | default(false)) %}
/usr/bin/spamc -u ${1} -L {{ type }} -C report
{% else %}
exec /usr/bin/sa-learn -u "{{ spamassassin_global | ternary('global', '${1}') }}" --{{ type }}
{% endif %}
