#!/bin/sh
#
# apnscp:       apnscp control panel startup routines
#
# chkconfig: 5 90 80
# description:  Loads up.
#
#

# Source function library.
SYSTEMCTL_SKIP_REDIRECT=1
. /etc/rc.d/init.d/functions

[[ -f /etc/sysconfig/apnscp ]] && . /etc/sysconfig/apnscp

# Prevent runaway logging
# Maximum blocksize of all files, 1 block = 4 KB
ulimit -f "${MAX_FILESIZE:-524288}"
CP_DIR={{apnscp_root|quote}}

declare -x HOSTNAME="$(hostname -f)"
HTTPD_ARGS="${HTTPD_ARGS:-}"
PID=$CP_DIR/storage/run/apnscpd.pid

start() {
	chown {{apnscp_system_user}} $CP_DIR/storage
	echo -n $"Starting apnscp backend: "
  
  if [[ -f $PID ]] && kill -0 `cat $PID` 2> /dev/null; then
    if [[ $(basename `readlink /proc/$(cat $PID)/exe`) == "apnscp_php" ]]; then
      echo "apnscpd is already running"
      exit 0
    fi
  fi
	daemon $CP_DIR/bin/apnscpd 
  pidof apnscp_php > /dev/null
	RETVAL=$?
  if [ $RETVAL -eq 0 ] ; then
    success "$prog startup"
  else
    failure "$prog startup"
  fi
  echo 
  return $RETVAL
}


stop() {
	echo -n $"Stoppping apnscp Web server: "
	/usr/sbin/httpd -f $CP_DIR/config/httpd.conf -k stop $HTTPD_ARGS
	sleep 1
	RETVAL=$?
	if [ $RETVAL -eq 0 ] ; then
    success "$prog startup"
	else
		failure "$prog startup"
	fi
	echo
	echo -n $"Stopping apnscp backend: "
	$CP_DIR/bin/apnscpd stop
	RETVAL=$?

	if [ $? -eq 0 ] ; then
	 success "$prog startup"
	else
	 failure "$prog startup"
	fi

	echo
	return $RETVAL
}

# See how we were called.
case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    status)
        ;;
    restart)
        stop
        start
        ;;
    condrestart)
        ;;
    reload)
        restart
        ;;
    *)
        echo $"Usage: $0 {start|stop|status|restart|condrestart|reload}"
        ;;
esac
exit 0
