[Unit]
Description=apnscp
Requires=mariadb.service postgresql.service
After=local-fs.target mariadb.service postgresql.service

[Service]
User=root
Type=forking
EnvironmentFile=-/etc/sysconfig/apnscp
PIDFile={{ apnscp_root }}/storage/run/apnscpd.pid
ExecStart=/etc/systemd/user/apnscp.init start
ExecReload=/etc/systemd/user/apnscp.init reload
ExecStop=/etc/systemd/user/apnscp.init stop
KillMode=none
PrivateTmp=false
OOMScoreAdjust=150
Nice=0
PassEnv=HOSTNAME

[Install]
WantedBy=multi-user.target
